* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding-top: 170px; }
  body #app {
    margin: 0 auto; }
  body.dark {
    background-color: #202020;
    color: #ffffff;
    color-scheme: dark; }


.navbar {
  font-weight: bold;
  background-color: #6e0d25;
  padding: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s;
}
.navbar.scrolled {
  padding: 10px;
}
.navbar.scrolled .nav-content .logo-section .text-container img {
  height: 70px;
}
.navbar .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.navbar .nav-content .nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1em;
}
.navbar .nav-content .nav-links a:hover {
  text-decoration: underline;
}
.navbar .nav-content .dark-mode-button {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.navbar .nav-content .logo-section {
  color: #ffffff;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navbar .nav-content .logo-section .text-container {
  display: flex;
  flex-direction: column;
  min-width: -moz-max-content;
  min-width: max-content;
}
.navbar .nav-content .logo-section .text-container img {
  height: 90px;
}

footer {
  margin-top: 45px;
}
footer .image-container {
  overflow: hidden;
  height: 180px;
  min-width: 360px;
}
footer .image-container img {
  display: block;
  min-width: 100%;
  height: 100%;
  width: 100%;
}
footer .footer-links-container {
  background-color: #6e0d25;
  padding: 20px;
  width: 100%;
  min-width: 360px;
}
footer .footer-links-container .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
footer .footer-links-container .footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}
footer .footer-links-container .footer-links a:hover {
  text-decoration: underline;
}

.home-page {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 47vh;
}
.home-page main {
  flex: 1;
}
.home-page .home-description {
  margin-top: 20px;
}
.home-page .home-description h1 {
  font-size: 3em;
  font-family: Times, serif;
  font-style: italic;
  font-weight: bold;
}

.search-section {
  max-width: 1000px;
  margin: 0 auto;
}
.search-section .basic-search {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.search-section .basic-search input {
  flex: 1;
  padding: 12px;
  border: 2px solid #4a4a4a;
  border-radius: 50px;
  font-size: 16px;
}
.search-section .basic-search button {
  background-color: #6e0d25;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}
.search-section .advanced-search-container {
  position: relative;
}
.search-section .advanced-search-container .dropdown-button {
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: left;
  width: 200px;
  position: relative;
}
.search-section .advanced-search-container .advanced-search-dropdown {
  position: relative;
  top: 100%;
  left: 0;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  box-shadow: 0 2px 5px #4a4a4a;
  width: 100%;
  padding: 24px;
}
.search-section .advanced-search-container .advanced-search-dropdown .active {
  display: block;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option {
  margin-bottom: 20px;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option h3 {
  color: #6e0d25;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option .horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option .horizontal-list .radio-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option .horizontal-list .radio-container input[type=radio] {
  margin: 0;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option button {
  background-color: #6e0d25;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options .advanced-option button:hover {
  background-color: #4a4a4a;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options #dates .option-title {
  color: #6e0d25;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options #dates label {
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  color: #4a4a4a;
}
.search-section .advanced-search-container .advanced-search-dropdown #search-options #dates input[type=date] {
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  color: #4a4a4a;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  padding: 5px;
}
.search-section .advanced-search-container .advanced-search-dropdown .advanced-option label,
.search-section .advanced-search-container .advanced-search-dropdown .advanced-option select,
.search-section .advanced-search-container .advanced-search-dropdown .advanced-option input {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}
.search-section .advanced-search-container .advanced-search-dropdown .advanced-option input[type=checkbox] {
  display: inline-block;
  margin-right: 5px;
}

.xquery-page .results-section,
.search-page .results-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px #4a4a4a;
    width: 100%;
    padding: 24px;
    margin: 24px auto; }
    .xquery-page .results-section .result-item .result-content,
    .search-page .results-section .result-item .result-content {
      margin-bottom: 24px; }
      .xquery-page .results-section .result-item .result-content .highlight, .search-page .results-section .result-item .result-content .highlight {
        background-color: yellow; }
        body.dark .xquery-page .results-section .result-item .result-content .highlight,
        body.dark .search-page .results-section .result-item .result-content .highlight {
          background-color: #6e0d25; }
    .xquery-page .results-section .result-item .result-footer,
    .search-page .results-section .result-item .result-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #a69f9f;
      padding-top: 5px; }
      .xquery-page .results-section .result-item .result-footer .result-buttons,
      .search-page .results-section .result-item .result-footer .result-buttons {
        display: flex;
        gap: 5px; }
        .xquery-page .results-section .result-item .result-footer .result-buttons svg, .search-page .results-section .result-item .result-footer .result-buttons svg {
          fill: #4a4a4a;
          height: 26px;
          width: 26px;
          margin: 5px; }
          body.dark .xquery-page .results-section .result-item .result-footer .result-buttons svg,
          body.dark .search-page .results-section .result-item .result-footer .result-buttons svg {
            fill: #a69f9f; }
        .xquery-page .results-section .result-item .result-footer .result-buttons button,
        .search-page .results-section .result-item .result-footer .result-buttons button {
          background-color: transparent;
          border: none;
          border-radius: 26px;
          cursor: pointer; }
          .xquery-page .results-section .result-item .result-footer .result-buttons button:hover, .search-page .results-section .result-item .result-footer .result-buttons button:hover {
            background-color: #a69f9f; }
            body.dark .xquery-page .results-section .result-item .result-footer .result-buttons button:hover,
            body.dark .search-page .results-section .result-item .result-footer .result-buttons button:hover {
              background-color: #4a4a4a; }

.xquery-page .results-section .result-item,
.search-page .results-section .result-item {
  /* XS */
  /* S */
  /* M */
  /* L */
  /* XL */
}
@media (max-width: 600px) {
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    width: 250px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    width: 400px;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    width: 600px;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    width: 800px;
  }
}
@media (min-width: 1201px) {
  .xquery-page .results-section .result-item,
  .search-page .results-section .result-item {
    width: 1000px;
  }
}
.xquery-page .page-changer,
.search-page .page-changer {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.xquery-page .page-changer button,
.search-page .page-changer button {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
}
.xquery-page .page-changer button:hover:enabled,
.search-page .page-changer button:hover:enabled {
  background-color: #6e0d25;
  color: #ffffff;
  cursor: pointer;
}
.xquery-page .page-changer .page-number:disabled,
.search-page .page-changer .page-number:disabled {
  background-color: #6e0d25;
  color: #ffffff;
}

.container-browser {
  position: relative;
  top: 20px;
  left: 0;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  box-shadow: 0 2px 5px #4a4a4a;
  width: 100%;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #a69f9f;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left h1 {
  margin-right: 20px;
  font-family: Times, serif;
}
.header-left input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6e0d25;
  color: #ffffff;
}
.search-btn:hover {
  background-color: #6e0d25;
}

.main-content {
  display: flex;
  margin-top: 20px;
}

.volume-nav {
  width: 200px;
  margin-right: 20px;
}
.volume-nav-item {
  margin-bottom: 10px;
}
.volume-nav-item button {
  width: 100%;
  padding: 10px;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
.volume-nav-item button.active {
  background-color: #6e0d25;
  color: #ffffff;
}

.split-view {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 200px);
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.image-viewer {
  flex: 1;
  min-width: 400px;
  max-width: 50%;
  overflow: hidden;
  background-color: #f9f9f9;
}
.image-viewer-page {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.records {
  border-top: 1px solid #a69f9f;
  padding-top: 20px;
}
.records-container {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  max-width: 50%;
}
.records-item {
  border-bottom: 1px solid #a69f9f;
  padding: 10px 0;
}
.records-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.records-content {
  margin-bottom: 10px;
}
.records-actions {
  display: flex;
  justify-content: space-between;
}

.volume-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-width: 150px;
  font-family: Arial, sans-serif;
}

.content-area {
  flex: 1;
}

.current-page-info {
  margin-bottom: 20px;
}

.xml-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6e0d25;
  color: #ffffff;
}
.xml-btn:hover {
  background-color: #b2153c;
}

.page-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.select-record {
  display: flex;
  align-items: center;
}
.select-record input {
  margin-right: 5px;
}

.dark .container-browser {
  background-color: #202020;
  color: #ffffff;
  border-color: #a69f9f;
}
.dark .header {
  background-color: #202020;
  border-bottom-color: #a69f9f;
}
.dark .header-left h1 {
  color: #ffffff;
}
.dark .header-left input {
  background-color: #131313;
  color: #ffffff;
  border-color: #a69f9f;
}
.dark .search-btn {
  background-color: #6e0d25;
  color: #ffffff;
}
.dark .main-content {
  background-color: #202020;
}
.dark .volume-nav {
  background-color: #202020;
}
.dark .volume-nav-item button {
  background-color: #131313;
  color: #ffffff;
  border-color: #a69f9f;
}
.dark .volume-nav-item button.active {
  background-color: #6e0d25;
  color: #ffffff;
}
.dark .pages-list button {
  background-color: #131313;
  color: #ffffff;
  border-color: #a69f9f;
}
.dark .pages-list button.active {
  background-color: #6e0d25;
  color: #ffffff;
}
.dark .content-area {
  background-color: #202020;
}
.dark .current-page-info h2 {
  color: #ffffff;
}
.dark .records {
  border-top-color: #a69f9f;
}
.dark .records-item {
  border-bottom-color: #a69f9f;
}
.dark .records-header, .dark .records-content {
  color: #ffffff;
}
.dark .xml-btn {
  background-color: #6e0d25;
  color: #ffffff;
}
.dark .select-record {
  color: #ffffff;
}
.dark .about-stuff {
  background-color: #202020;
  border-color: #a69f9f;
  color: #ffffff;
}
.dark .column {
  color: #ffffff;
}

.about-page {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 0;
  border: 1px solid #a69f9f;
  border-radius: 4px;
  box-shadow: 0 2px 5px #4a4a4a;
  width: 100%;
  padding: 25px;
}
.about-page .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
  text-align: justify;
}
.about-page .column img {
  width: 100%;
  height: auto;
}
.about-page .row:after {
  content: "";
  display: table;
  clear: both;
}

.UserManual {
  background-color: #6e0d25;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 20px;
  z-index: 10;
}/*# sourceMappingURL=app.css.map */