//standard variables
$primary-colour: #6e0d25;
$secondary-colour: #ffffff;
$dark-gray: #4a4a4a;
$dark-mode: #202020;
$light-gray: #a69f9f;
$font-family: Arial, sans-serif;
$logo-font-family: Times, serif;
$box-shadow: 0 2px 5px #4a4a4a;

@use "sass:color";

@mixin button-base {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $secondary-colour;
  padding-top: 170px;

  #app {
    margin: 0 auto;
  }

  &.dark {
    background-color: $dark-mode;
    color: $secondary-colour;
    color-scheme: dark;
  }
}

// navbar
.navbar {
  font-weight: bold;
  background-color: $primary-colour;
  padding: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s;

  &.scrolled {
    padding: 10px;

    .nav-content .logo-section .text-container img {
      height: 70px;
    }
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    .nav-links a {
      color: $secondary-colour;
      text-decoration: none;
      margin: 0 10px;
      font-size: 1.1em;

      &:hover {
        text-decoration: underline;
      }
    }

    .nav-links a.help-link {
      margin-left: 10px;
      font-weight: bold;
    }

    .dark-mode-button {
      min-height: 50px;
      min-width: 50px;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
    }

    .logo-section {
      color: $secondary-colour;
      align-items: stretch;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .text-container {
        display: flex;
        flex-direction: column;
        min-width: -moz-max-content;
        min-width: max-content;

        img {
          height: 90px;
        }
      }
    }

    .burger-menu {
      display: none;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      right: 0;
      span {
        background-color: $secondary-colour;
        height: 3px;
        width: 25px;
        margin: 4px 0;
        transition: 0.4s;
      }
    }

    @media (max-width: 768px) {
      .burger-menu {
        display: flex;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px; // Reduce padding for smaller screens

    &.scrolled {
      padding: 5px; // Reduce padding when scrolled in mobile view

      .nav-content .logo-section .text-container img {
        height: 40px; // Adjust the height for smaller screens when scrolled
      }
    }

    .nav-content {
      flex-direction: column;
      align-items: center;

      .logo-section {
        .text-container {
          img {
            height: 50px; // Adjust the height for smaller screens
          }
        }
      }

      .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
          margin: 5px 0;
        }
      }
    }
  }

  .home-page {
    padding-top: 20px; // Adjust padding to reduce space between navbar and content
  }

  .navbar {
    padding: 20px;

    .nav-content {
      flex-direction: column;
      align-items: center;

      .logo-section {
        .text-container {
          img {
            height: 50px; // Adjust the height for smaller screens
          }
        }
      }

      .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
          margin: 5px 0;
        }
      }
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  span {
    background-color: $secondary-colour;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
  }
}

.nav-links {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $primary-colour;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    a {
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }
}

.nav-links.active {
  display: flex;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
}

// footer
footer {
  margin-top: 45px;
  width: 100%; // Ensure footer spans the entire page width

  .image-container {
    overflow: hidden;
    height: 180px;
    min-width: 360px;

    img {
      display: block;
      min-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover; // Ensure the image fits within the container without stretching
    }
  }

  .footer-links-container {
    background-color: $primary-colour;
    padding: 20px;
    width: 100%;
    min-width: 360px;

    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
      flex-wrap: wrap; // Allow links to wrap to the next line if needed

      a {
        color: $secondary-colour;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        flex: 1 1 auto; // Allow links to grow and shrink as needed
        text-align: center; // Center align text

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// home page
.home-page {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }

  .home-description {
    margin-top: 20px;

    h1 {
      font-size: 3em;
      font-family: $logo-font-family;
      font-style: italic;
      font-weight: bold;
    }
  }
}

// search section used by home, search and xquery pages
.search-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px; // Add padding to prevent stretching

  .basic-search {
    display: flex;
    width: 100%;
    margin: 20px 0;

    input {
      flex: 1;
      padding: 12px;
      border: 2px solid $dark-gray;
      border-radius: 50px;
      font-size: 16px;
    }

    button {
      background-color: $primary-colour;
      color: $secondary-colour;
      padding: 12px 24px;
      border: none;
      margin-left: 10px;
      border-radius: 50px;
      cursor: pointer;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;

      input {
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        margin-left: 0; // Remove left margin for smaller screens
      }
    }
  }

  .preferences {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    .preference-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;

      label {
        font-weight: bold;
        color: $dark-gray;
      }

      select {
        cursor: pointer;
        padding: 5px;
        border: 1px solid $dark-gray;
        border-radius: 4px;
        background-color: $secondary-colour;
        color: $dark-gray;
        transition: background-color 0.3s, border-color 0.3s;
      }

      body.dark & {
        background-color: $dark-mode;
        border-color: $light-gray;

        label {
          color: $secondary-colour;
        }

        select {
          background-color: color.adjust($dark-mode, $lightness: -5%);
          color: $secondary-colour;
          border-color: $light-gray;
        }
      }
    }
  }

  .advanced-search-container {
    position: relative;

    .dropdown-button {
      background-color: $primary-colour;
      color: $secondary-colour;
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 5px;
      text-align: left;
      width: 200px;
      position: relative;
    }

    .advanced-search-dropdown {
      position: relative;
      top: 100%;
      left: 0;
      border: 1px solid $light-gray;
      border-radius: 4px;
      box-shadow: $box-shadow;
      width: 100%;
      padding: 24px;

      .active {
        display: block;
      }

      #search-options {
        .advanced-option {
          margin-bottom: 10px;
          margin-top: 10px;

          h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
          }

          .horizontal-list {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .radio-container {
              display: flex;
              align-items: center;
              gap: 5px;

              input[type="radio"] {
                margin: 0;
              }
            }
          }

          button {
            background-color: $primary-colour;
            color: $secondary-colour;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: $dark-gray;
            }
          }

          label,
          select,
          input {
            display: block;
            font-size: 1em;
          }

          input[type="checkbox"] {
            display: inline-block;
            margin-right: 5px;
          }

          #dates {
            background-color: $secondary-colour;
            border: 1px solid $dark-gray;
            border-radius: 4px;
            padding: 10px;

            .option-title {
              font-size: 1.2em;
              margin-bottom: 10px;
            }

            label {
              display: inline-block;
              margin-right: 10px;
              font-size: 1em;
              color: $dark-gray;
            }

            input[type="date"] {
              display: inline-block;
              margin-right: 10px;
              font-size: 1em;
              color: $dark-gray;
              border: 1px solid $light-gray;
              border-radius: 4px;
              padding: 5px;
              background-color: $secondary-colour;
            }

            body.dark & {
              background-color: $dark-mode;
              border-color: $light-gray;

              label {
                color: $secondary-colour;
              }

              input[type="date"] {
                background-color: color.adjust($dark-mode, $lightness: -5%);
                color: $secondary-colour;
                border-color: $light-gray;
              }
            }
          }
        }
      }
    }
  }
}

.xquery-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
    }
}

// to allow xquery page to use results styling
// search page
.search-page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .results-section {
    .result-item {
      position: relative;
      border: 1px solid $secondary-colour;
      border-radius: 4px;
      box-shadow: $box-shadow;
      width: 100%;
      padding: 24px;
      margin: 24px auto;

      .result-content {
        margin-bottom: 24px;

        .highlight {
          background-color: yellow;

          body.dark & {
            background-color: $primary-colour;
          }
        }
      }

      .result-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $light-gray;
        padding-top: 5px;

        .result-buttons {
          display: flex;
          gap: 5px;

          svg {
            fill: $dark-gray;
            height: 26px;
            width: 26px;
            margin: 5px;

            body.dark & {
              fill: $light-gray;
            }
          }

          button {
            background-color: transparent;
            border: none;
            border-radius: 26px;
            cursor: pointer;

            &:hover {
              background-color: $light-gray;

              body.dark & {
                background-color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }

  .preferences {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .preference-item {
      display: flex;
      gap: 10px;

      label {
        font-weight: bold;
      }

      select {
        cursor: pointer;
      }
    }
  }

  .page-changer {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    gap: 10px; // Add gap between buttons
    flex-wrap: wrap; // Allow buttons to wrap to the next line if needed

    button {
      background-color: transparent;
      padding: 10px 20px;
      border: 1px solid $dark-gray;
      border-radius: 10px;

      &:hover:enabled {
        background-color: $primary-colour;
        color: $secondary-colour;
        cursor: pointer;
      }
    }

    .page-number:disabled {
      background-color: $primary-colour;
      color: $secondary-colour;
    }
  }

  .go-to-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    input[type="number"] {
        width: 60px;
        padding: 10px;
        border: 1px solid #4a4a4a;
        /* border-radius: 50px; */
        font-size: 16px;
        text-align: center;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        background-color: #6e0d25;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
            background-color: color.adjust(#6e0d25, $lightness: 15%);
        }
    }
  }

  .go-to-page {
    display: flex;
    align-items: center;
    gap: 10px;

    input[type="number"] {
      width: 60px;
      padding: 5px;
      border: 1px solid $dark-gray;
      border-radius: 4px;
    }

    button {
      @include button-base;
      background-color: $primary-colour;
      color: $secondary-colour;

      &:hover {
        background-color: color.adjust($primary-colour, $lightness: 15%);
      }
    }
  }

  // result section sizing
  .results-section .result-item {

    /* XS */
    @media (max-width: 600px) {
      width: 250px;
    }

    /* S */
    @media (min-width: 601px) and (max-width: 800px) {
      width: 400px;
    }

    /* M */
    @media (min-width: 801px) and (max-width: 1000px) {
      width: 600px;
    }

    /* L */
    @media (min-width: 1001px) and (max-width: 1200px) {
      width: 800px;
    }

    /* XL */
    @media (min-width: 1201px) {
      width: 1000px;
    }
  }
}

// browser page
// Using existing variables
@mixin flex-center {
  display: flex;
  align-items: center;
}

.container-browser {
  position: relative;
  top: 20px;
  left: 0;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: $box-shadow;
  width: 100%;
  padding: 24px;
  font-family: $font-family;
}

.header {
  padding: 20px;
  border-bottom: 1px solid $light-gray;

  &-left {
    @include flex-center;

    h1 {
      margin-right: 20px;
      font-family: $logo-font-family;
    }

    input {
      padding: 10px;
      margin-right: 10px;
      border: 1px solid $light-gray;
      border-radius: 4px;
      font-family: $font-family;
    }
  }
}

.search-btn {
  @include button-base;
  background-color: $primary-colour;
  color: $secondary-colour;

  &:hover {
    background-color: $primary-colour;
  }
}

.main-content {
  display: flex;
  margin-top: 20px;
}

.volume-nav {
  width: 200px;
  margin-right: 20px;

  &-item {
    margin-bottom: 10px;

    button {
      width: 100%;
      padding: 10px;
      border: 1px solid $light-gray;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      font-family: $font-family;

      &.active {
        background-color: $primary-colour;
        color: $secondary-colour;
      }
    }
  }
}

.split-view {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 200px);
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.image-viewer {
  flex: 1;
  min-width: 400px;
  max-width: 50%;
  overflow: hidden;
  background-color: #f9f9f9;

  &-page {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.records {
  &-container {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    max-width: 50%;
    border-top: 1px solid $light-gray;
    padding-top: 20px;
  }

  &-item {
    border-bottom: 1px solid $light-gray;
    padding: 10px 0;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-content {
    margin-bottom: 10px;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
  }
}

.volume-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-width: 150px;
  font-family: $font-family;
}

.content-area {
  flex: 1;
}

.current-page-info {
  margin-bottom: 20px;
}

.xml-btn {
  @include button-base;
  background-color: $primary-colour;
  color: $secondary-colour;

  &:hover {
    background-color: color.adjust($primary-colour, $lightness: 15%);
  }
}

.page-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.select-record {
  @include flex-center;

  input {
    margin-right: 5px;
  }
}

// Dark mode styles
.dark {
  .container-browser {
    background-color: $dark-mode;
    color: $secondary-colour;
    border-color: $light-gray;
  }

  .header {
    background-color: $dark-mode;
    border-bottom-color: $light-gray;

    &-left {
      h1 {
        color: $secondary-colour;
      }

      input {
        background-color: color.adjust($dark-mode, $lightness: -5%);
        color: $secondary-colour;
        border-color: $light-gray;
      }
    }
  }

  .search-btn {
    background-color: $primary-colour;
    color: $secondary-colour;
  }

  .main-content {
    background-color: $dark-mode;
  }

  .volume-nav {
    background-color: $dark-mode;

    &-item {
      button {
        background-color: color.adjust($dark-mode, $lightness: -5%);
        color: $secondary-colour;
        border-color: $light-gray;

        &.active {
          background-color: $primary-colour;
          color: $secondary-colour;
        }
      }
    }
  }

  .pages-list {
    button {
      background-color: color.adjust($dark-mode, $lightness: -5%);
      color: $secondary-colour;
      border-color: $light-gray;

      &.active {
        background-color: $primary-colour;
        color: $secondary-colour;
      }
    }
  }

  .content-area {
    background-color: $dark-mode;
  }

  .current-page-info {
    h2 {
      color: $secondary-colour;
    }
  }

  .records {
    border-top-color: $light-gray;

    &-item {
      border-bottom-color: $light-gray;
    }

    &-header,
    &-content {
      color: $secondary-colour;
    }
  }

  .xml-btn {
    background-color: $primary-colour;
    color: $secondary-colour;
  }

  .select-record {
    color: $secondary-colour;
  }

  .about-stuff {
    background-color: $dark-mode;
    border-color: $light-gray;
    color: $secondary-colour;
  }

  .column {
    color: $secondary-colour;
  }
}

// about page
.about-page {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 0;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: 0 2px 5px $dark-gray;
  width: 100%;
  padding: 25px;

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
    text-align: justify;

    img {
      width: 100%;
      height: auto;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Help Page
.HelpPage {
  background-color: $primary-colour;
  color: $secondary-colour;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 20px;
  z-index: 10;
}
#search-options {
  .advanced-option {
    margin-bottom: 10px;
    margin-top: 10px;

    h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    .horizontal-list {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .radio-container {
        display: flex;
        align-items: center;
        gap: 5px;

        input[type="radio"] {
          margin: 0;
        }
      }
    }

    button {
      background-color: $primary-colour;
      color: $secondary-colour;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $dark-gray;
      }
    }

    label,
    select,
    input {
      display: block;
      font-size: 1em;
    }

    input[type="checkbox"] {
      display: inline-block;
      margin-right: 5px;
    }

    #language {
      background-color: $secondary-colour;
      border: 1px solid $dark-gray;
      border-radius: 4px;
      padding: 5px;
      
      .option-title {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      label {
        display: inline-block;
        margin-right: 10px;
        font-size: 1em;
        color: $dark-gray;
      }
      
      body.dark & {
        background-color: $dark-mode;
        border-color: $light-gray;

        label {
          color: $secondary-colour;
        }

        input[type="date"] {
          background-color: color.adjust($dark-mode, $lightness: -5%);
          color: $secondary-colour;
          border-color: $light-gray;
        }
      }
    }

    #dates {
      background-color: $secondary-colour;
      border: 1px solid $dark-gray;
      border-radius: 4px;
      padding: 10px;

      .option-title {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      label {
        display: inline-block;
        margin-right: 10px;
        font-size: 1em;
        color: $dark-gray;
      }

      input[type="date"] {
        display: inline-block;
        margin-right: 10px;
        font-size: 1em;
        color: $dark-gray;
        border: 1px solid $light-gray;
        border-radius: 4px;
        padding: 5px;
        background-color: $secondary-colour;
      }

      body.dark & {
        background-color: $dark-mode;
        border-color: $light-gray;

        label {
          color: $secondary-colour;
        }

        input[type="date"] {
          background-color: color.adjust($dark-mode, $lightness: -5%);
          color: $secondary-colour;
          border-color: $light-gray;
        }
      }
    }
  }
}

.advanced-search-dropdown {
  #search-options {
    .advanced-option {
      margin-bottom: 10px;
      margin-top: 10px;

      h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      .horizontal-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .radio-container {
          display: flex;
          align-items: center;
          gap: 5px;

          input[type="radio"] {
            margin: 0;
          }
        }
      }

      button {
        background-color: $primary-colour;
        color: $secondary-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $dark-gray;
        }
      }

      label,
      select,
      input {
        display: block;
        font-size: 1em;
      }

      input[type="checkbox"] {
        display: inline-block;
        margin-right: 5px;
      }

      #dates {
        background-color: $secondary-colour;
        border: 1px solid $dark-gray;
        border-radius: 4px;
        padding: 10px;

        .option-title {
          font-size: 1.2em;
          margin-bottom: 10px;
        }

        label {
          display: inline-block;
          margin-right: 10px;
          font-size: 1em;
          color: $dark-gray;
        }

        input[type="date"] {
          display: inline-block;
          margin-right: 10px;
          font-size: 1em;
          color: $dark-gray;
          border: 1px solid $light-gray;
          border-radius: 4px;
          padding: 5px;
          background-color: $secondary-colour;
        }

        body.dark & {
          background-color: $dark-mode;
          border-color: $light-gray;

          label {
            color: $secondary-colour;
          }

          input[type="date"] {
            background-color: color.adjust($dark-mode, $lightness: -5%);
            color: $secondary-colour;
            border-color: $light-gray;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .image-container {
      height: auto; // Adjust height for smaller screens
      min-width: 100%; // Ensure the image container fits the screen width
    }

    .footer-links-container {
      padding: 10px; // Adjust padding for smaller screens

      .footer-links {
        flex-direction: column; // Stack links vertically on smaller screens
        align-items: center;
      }
    }
  }
}

.nav-links a,
.dark-mode-button {
  // Add styles to hide the burger menu when clicked
  @media (max-width: 768px) {
    &:active {
      .nav-links {
        display: none;
      }
    }
  }
}

// Combine repeated page classes into a single class
.page {
  display: flex;
  flex-direction: column;
  min-height: 45vh;

  main {
    flex: 1;
  }
}

// Apply the combined class to all relevant pages
.help-page,
.about-page,
.selected-page,
.search-page,
.xquery-page,
.browse-page {
  @extend .page;
}