* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    color: green;
    padding: 20px;
    text-align: center;
}


.nav {
  overflow: hidden;
  background-color: black;
}

.nav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: green;
  color: black;
}